/*Navigation section*/

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*home section*/
#home{
    height: 370px;
    padding: 3px 68px;

}
#home::before{
    height: 480px;
}
/* services section*/
#services{

}

#services .box{

}
/* clients section*/
#client-section{
    height: 344px;
    position: relative
}
#services img{
    width: 66px;
    padding: 56px;
}
/* contact section*/

/*utility class*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}